.node circle {
  fill: darkred;
}

.node text {
  font: 16px sans-serif;
  font-weight: bold;
  stroke-width: 20px;
}

.node--internal circle {
  fill: #darkgreen;
}

.node--internal text {
}


.link {
  fill: none;
  stroke: green;
  stroke-opacity: 0.6;
  stroke-width: 2.5px;
}
